@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin :0;
  padding :0;
  box-sizing :border-box;
}

.font-header{
  font-family: 'Pacifico', cursive;
}

.font-home{
  font-family: 'Playfair', serif;
}

@media (max-width: 767px) {
  .h-400 {
    height: auto;
  }

  .mt-10 {
    margin-top: 10px;
  }
}